<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"

         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         requireCoverageMetadata="false"
         verbose="true">

  <testsuites>
    <testsuite name="MySQL">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
    <testsuite name="MongoDB">
      <directory suffix="MongoDB.php">tests/mongodb</directory>
    </testsuite>
  </testsuites>

  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory>src</directory>
    </include>
  </source>

  <coverage processUncoveredFiles="true">
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

</phpunit>
